header {
    margin: 25px 0;
    -webkit-transition: top .5s ease, -webkit-transform .5s ease;
    transition: top .5s ease, -webkit-transform .5s ease;
    -o-transition: transform .5s ease, top .5s ease;
    transition: transform .5s ease, top .5s ease;
    transition: transform .5s ease, top .5s ease, -webkit-transform .5s ease;

    @media only screen and (max-width: $screen-sm) {
        padding-top: 10px;
        margin-top: 0;
        margin-bottom: 50px;
    }

    &.pre-sticky {
        -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        transform: translateY(-100%);
    }

    &.sticky {
        position: fixed;
        top: 0;
        margin: 0;
        padding: 10px 0;
        background: $white;
        position: fixed;
        width: 100%;
        box-shadow: 2px 7px 17.82px 0.18px rgba(228, 155, 148, 0.2);
        transform: translateY(0);
        z-index: 9999;

        @media only screen and (max-width: $screen-sm) {
            padding: 0;
        }
    }

    .container {
        @media only screen and (max-width: $screen-sm) {
            justify-content: space-between;
        }
    }

    .logo {
        width: 150px;
    }

    .header-navigation,
    .header-mobile-navigation {
        .main-menu {
            padding: 0px 50px;

            li {
                padding: 10px 0;

                a {
                    font-weight: 600;
                    letter-spacing: -.01em;
                    color: $dark-purple;

                }

                &.current-menu-item {
                    a {
                        color: rgba(56, 33, 74, .5);
                    }
                }

                &:hover {
                    a {
                        color: $color-primary;

                    }
                }
            }
        }
    }

    .header-mobile-navigation {
        border-bottom: 1px solid rgba(139, 131, 149, .4);

        .main-menu {
            padding: 50px 0px 20px;

            li {
                width: 100%;

                a {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;

                    &:after {
                        content: '\f324';
                        font-family: Font Awesome\ 5 Duotone;
                        font-weight: 900;
                    }
                }
            }
        }
    }

    .mobile-menu {

        font-size: 35px;
        outline: none;

        @media only screen and (max-width: $screen-sm) {
            display: block;
        }

        .icon-open {}

        .icon-close {
            display: none;
        }

        &.menu-open {
            .icon-open {
                display: none;
            }

            .icon-close {
                display: block;
            }

        }
    }

}