body {
    font-family: $font-main;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    color: $color-primary;
    background-color: $white;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    margin:0px; 
    padding:0px;
    &.page-homepage {
        background-color: $light-pink;
    }
}

